@media (min-width: 1200px) {
    .container {
        width: 1330px;
    }
}

tr[ng-repeat="c in data"] td:last-child span {
    white-space: pre-line;
}

tr[ng-repeat="c in data"] td:first-child {
    width: 0;
}

.w46 {
    width: 34px;
}

.grade,
#bp {
    width: 45px;
    padding: 3px;
}

span[style="width: 60px"] {
    width: fit-content !important;
}
