/*Page body width*/
@media (min-width: 1200px) {
    div.container.margin-top,
    div[class="container"] {
        width: 1400px;
    }
}

/*Schedule table*/
tr[ng-repeat="c in data"] td span {
    white-space: pre-line;
}

tr[ng-repeat="c in data"] td:first-child {
    width: 70px;
    text-align: center;
}

div[ng-repeat="entry in PD.schedule"]:last-child,
div[ng-repeat="entry in PD.schedule"]:last-child table {
    margin-bottom: 10px;
}

/*Discipline info table*/
div.list-group-item:first-child,
div.list-group-item[ng-show^="news ==="] {
    border-radius: 10px 10px 0 0 !important;
}

div.list-group-item:nth-last-child(2),
div.list-group-item:has(a[href^="/student/ir/"]) {
    border-radius: 0 0 10px 10px !important;
    margin-bottom: 10px;
}

div.list-group-item:last-child {
    display: none;
}

/*Info tiles + link buttons*/
div.well,
a.btn,
div.alert {
    border-radius: 10px;
}

/*Grades sizes*/
.w46 {
    width: 34px !important;
}

.grade,
#bp {
    width: 45px !important;
    padding: 3px !important;
}

span[style="width: 60px"],
span[style="width: auto"] {
    width: fit-content !important;
}

/*Selects + mark types + others*/
select.input-sm,
select,
input,
textarea,
a.list-group-item,
button,
div.list-group-item.bg-grey,
ul.breadcrumb {
    border-radius: 5px !important;
}

#to_top {
    z-index: 1;
}

#to_top:hover {
    background-color: #ffffff05 !important;
}

th span.glyphicon-arrow-left {
    z-index: 2;
    height: 100%;
    display: block;
    margin: 10px;
}

tr:has(span.glyphicon-arrow-left) th:not(tr:has(div.w46)),
tr.discussion-label-span td:not(tr.discussion-label-span td:nth-child(2)) {
    text-align: center;
    vertical-align: middle !important;
}

th div.w46,
td div.w46 {
    width: 47px !important;
    text-align: center;
}

#w0,
#w1 {
    z-index: 2;
}

/*Resources page*/
span.label,
#bp {
    border-radius: 3px !important;
}

/*Dropdown lists at the top + header*/
ul.dropdown-menu,
li.dropdown li:last-child,
li.dropdown li:last-child a,
.table,
#w0,
#w1,
li:not(.open):not(.active):hover > a:hover,
li:not(.open) > a,
div.notification-more,
div.panel-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.dropdown-menu-left {
    border-bottom-left-radius: 11px !important;
    border-bottom-right-radius: 11px !important;
}

/*News page tabs*/
ul[role="tablist"] a {
    border-radius: 5px 5px 0 0 !important;
}

/*News page table + practice page table*/
.table-bordered {
    border-collapse: separate;
    border-radius: 10px;
}

.table-bordered th:first-child {
    border-top-left-radius: 10px;
}

.table-bordered th:last-child {
    border-top-right-radius: 10px;
}

.table-bordered tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table-bordered tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

/*FAQ page*/
div.panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.panel,
div.modal-dialog,
div.modal-content {
    border-radius: 10px !important;
}

div.panel-heading:has(a.collapsed) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table-condensed {
    margin-bottom: -5px;
}

/*Portfolio page*/
.table-striped tbody tr:nth-last-child(2),
.table-striped tbody tr:nth-last-child(2):not(:has(~ tr.in)) td:first-child {
    border-bottom-left-radius: 10px;
}

.table-striped tbody tr:nth-last-child(2),
.table-striped tbody tr:nth-last-child(2):not(:has(~ tr.in)) td:last-child {
    border-bottom-right-radius: 10px;
}

/*Moodle*/
div.card,
section,
div.info,
div.formulation,
div.moodle-dialogue-wrap,
div.popover-region-container {
    border-radius: 10px !important;
}

div.dropdown-menu,
#quiz-timer,
a.endtestlink,
div.othernav a,
div.controls a.arrow_link,
div.popover[class*="bs-popover"] {
    border-radius: 5px;
    padding: 0;
}

#page-footer,
div.fp-navbar,
div.calendar_event_course,
div.editor_atto_toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.filemanager-container,
div.popover-region-footer-container,
div.editor_atto_content {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}

input.btn[value^="Отправить всё"] {
    margin-bottom: 5px;
}

div.dropdown-divider {
    margin: 1px;
}

table.minicalendar td.day {
    border-radius: 3px;
}
